#parse("heb/header.vm")
<div class="navig">
<a href="top">רשימת התחנות</a>
</div>
<table>
<caption>רשימת התחנות</caption>
<thead>
  <tr>
    <th>שם התחנה</th>
    <th>מיקום</th>
    <th>טמפרטורה</th>
    <th>לחות</th>
    <th>לחץ</th>
    <th>רוח</th>
    <th>עדכון אחרון</th>
    <th>תרשים</th>
    <th>ארכיון</th>
  </tr>
</thead>
<tbody>
#foreach ($station in $stations)
<tr>
  <td>$station.Title</td>
  <td>$station.Location</td>
  <td>${station.LatestRecord.Temperature}C</td>
  <td>${station.LatestRecord.Humadity}%</td>
  <td>${station.LatestRecord.Pressure}MB</td>
  <td>$station.LatestRecord.WindDirection $station.LatestRecord.WindSpeed</td>
  <td>$dateTimeFormatter.format($station.LatestRecord.Stamp)</td>
  <td>
    <div><a href="chart?id=${station.id}&amp;delta=12">12 שעות</a></div>
    <div><a href="chart?id=${station.id}&amp;delta=24">24 שעות</a></div>
    <div><a href="chart?id=${station.id}&amp;delta=48">48 שעות</a></div>
    <div><a href="chart?id=${station.id}&amp;delta=72">72 שעות</a></div>
  </td>
  <td><a href="view?id=${station.id}">ארכיון</a></td>
</tr>
#end
</tbody>
</table>
#parse("heb/footer.vm")
