#parse("heb/header.vm")
<div class="navig">
<a href="top">רשימת התחנות</a>
==>
<a href="top">ארכיון $station.Title</a>
</div>
<h2>רישומים עבור "$station.Title" - $station.Location לתאריך $dateFormatter.format($currDate)</h2>

<div class="archiveTop">

<div class="smallGraph">
<a href="chart?id=$station.id&amp;day=$date.format('d',$nextDate)&amp;month=$date.format('M',$nextDate)&amp;year=$date.format('yyyy',$nextDate)&amp;delta=36&hour=0&amp;minute=0"><img src="chart?id=$station.id&amp;day=$date.format('d',$nextDate)&amp;month=$date.format('M',$nextDate)&amp;year=$date.format('yyyy',$nextDate)&amp;delta=36&hour=0&amp;minute=0&amp;scale=0.4" alt="תרשים טמפ' ולחות יומי" /></a>
</div>

<div class="archiveSummary">
  <table>
  <caption>ערכי קיצון</caption>
  <thead>
    <tr>
      <th>פרמטר</th>
      <th>מינ</th>
      <th>מקס</th>
  <tbody>
    <tr>
      <th>טמפרטורה</th>
      <td>$minData.Temperature</td>
      <td>$maxData.Temperature</td>
    </tr>
    <tr>
      <th>לחות</th>
      <td>$minData.Humadity</td>
      <td>$maxData.Humadity</td>
    </tr>
    <tr>
      <th>לחץ</th>
      <td>$minData.Pressure</td>
      <td>$maxData.Pressure</td>
    </tr>
  </tbody>
  </table>
</div>

</div>

<div class="archiveNavig">
  <a href="view?id=$station.id&amp;day=$date.format('d',$prevDate)&amp;month=$date.format('M',$prevDate)&amp;year=$date.format('yyyy',$prevDate)">ליום הקודם </a>
   &nbsp;
  <a href="view?id=$station.id&amp;day=$date.format('d',$nextDate)&amp;month=$date.format('M',$nextDate)&amp;year=$date.format('yyyy',$nextDate)">ליום הבא </a>

</div>

<table>
<caption>פירוט רישומי התחנה</caption>
<thead>
  <tr>
    <th>זמן עדכון</th>
    <th>טמפרטורה</th>
    <th>לחות</th>
    <th>לחץ</th>
    <th>רוח</th>
  </tr>
</thead>
<tbody>
#foreach ($record in $records)
<tr>
  <td>$dateTimeFormatter.format($record.Stamp)</td>
  <td>${record.Temperature}C</td>
  <td>${record.Humadity}%</td>
  <td>${record.Pressure}MB</td>
  <td>$record.WindDirection $record.WindSpeed</td>
</tr>
#end
</tbody>
</table>
#parse("heb/footer.vm")
