#parse("header.vm")
<div class="navig">
<a href="top">#m("station_list")</a>
==>
<a href="overlook?id=$station.id">#m("archive") $station.Title</a>
</div>

<table>
<caption>#m("station_overlook")</caption>
<thead>
  <tr>
    <th>#m("year")</th>
    <th>#m("total_records")</th>
    <th>#m("min_temperature")</th>
    <th>#m("max_temperature")</th>
    <th>#m("avg_temperature")</th>
  </tr>
</thead>
<tbody>
#foreach ($record in $records)
#set ($stamp=$list.get($record,0))
<tr>
  <td><a href="view_year?id=$station.id&amp;year=$date.format('yyyy',$stamp)">$date.format('yyyy',$stamp)</a></td>
  <td>$list.get($record,1)</td>
  <td>$list.get($record,2)</td>
  <td>$list.get($record,3)</td>
  <td>$list.get($record,4)</td>
</tr>
#end
</tbody>
</table>


#parse("footer.vm")
