#parse("header.vm")
#set ($year=$date.format('yyyy',$currDate))
#set ($month=$date.format('MM',$currDate))
#set ($day=$date.format('dd',$currDate))
<div class="navig">
<a href="top">#m("station_list")</a>
==>
<a href="overlook?id=$station.id">#m("archive") $station.Title</a>
==>
<a href="view_year?id=$station.id&amp;year=$year">$year</a>
==>
<a href="view_month?id=$station.id&amp;year=$year&amp;month=$month">$month</a>
==>
<a href="view_day?id=$station.id&amp;year=$year&amp;month=$month&amp;day=$day">$day</a>
</div>
<h2>#m("records_for") "$station.Title" - $station.Location #m("for_date") $dateFormatter.format($currDate)</h2>

<div class="archiveTop">

<div class="smallGraph">
<a href="chart?id=$station.id&amp;day=$date.format('d',$nextDate)&amp;month=$date.format('M',$nextDate)&amp;year=$date.format('yyyy',$nextDate)&amp;delta=36&hour=0&amp;minute=0"><img src="chart?id=$station.id&amp;day=$date.format('d',$nextDate)&amp;month=$date.format('M',$nextDate)&amp;year=$date.format('yyyy',$nextDate)&amp;delta=36&hour=0&amp;minute=0&amp;scale=0.4" alt="תרשים טמפ' ולחות יומי" /></a>
</div>

<div class="archiveSummary">
  <table>
  <caption>#m("extreme_values")</caption>
  <thead>
    <tr>
      <th>#m("parameter")</th>
      <th>#m("min")</th>
      <th>#m("max")</th>
  <tbody>
    <tr>
      <th>#m("temperature")</th>
      <td>$minData.Temperature</td>
      <td>$maxData.Temperature</td>
    </tr>
    <tr>
      <th>#m("humadity")</th>
      <td>$minData.Humadity</td>
      <td>$maxData.Humadity</td>
    </tr>
    <tr>
      <th>#m("pressure")</th>
      <td>$minData.Pressure</td>
      <td>$maxData.Pressure</td>
    </tr>
  </tbody>
  </table>
</div>

</div>

<div class="archiveNavig">
  <a href="view_day?id=$station.id&amp;day=$date.format('d',$prevDate)&amp;month=$date.format('M',$prevDate)&amp;year=$date.format('yyyy',$prevDate)">#m("previous_day")</a>
   &nbsp;
  <a href="view_day?id=$station.id&amp;day=$date.format('d',$nextDate)&amp;month=$date.format('M',$nextDate)&amp;year=$date.format('yyyy',$nextDate)">#m("next_day")</a>

</div>

<table>
<caption>#m("station_record_details")</caption>
<thead>
  <tr>
    <th>#m("update_time")</th>
    <th>#m("temperature")</th>
    <th>#m("humadity")</th>
    <th>#m("pressure")</th>
    <th>#m("wind")</th>
  </tr>
</thead>
<tbody>
#foreach ($record in $records)
<tr>
  <td>$dateTimeFormatter.format($record.Stamp)</td>
  <td>${record.Temperature}C</td>
  <td>${record.Humadity}%</td>
  <td>${record.Pressure}MB</td>
  <td>$record.WindDirection $record.WindSpeed</td>
</tr>
#end
</tbody>
</table>
#parse("footer.vm")
